body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.header {
    background-color: #e21966;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.navbar {
    background-color: #ef3878;
    padding: 15px 0;
}

.navbar a {
    color: white;
    margin: 0 40px;
}


.content {
    background-color: white;
    width: 70%;
    margin: 70px auto;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
}

.profile-img {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: black;
}

.footer {
    background-color: #b21745;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main p {
    margin-bottom: 40px;
}